
// Converted Variables


// Custom Media Query Variables


/*

   CODE

*/

.pre {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
  background-color: #232137 !important;
  color: #8A75A3 !important;
  border: none !important;
  border-radius: 6px !important;
  font-weight: 200 !important;
  font-size: 90% !important;
  }