
// set custom hex colors
$siteBgColorCustom: #FFF8F5FF;
$sidebarBgColorCustom: $siteBgColorCustom;
$textColorCustom: #2A363BFF;
$sidebarTextColorCustom: $textColorCustom;
$headlineColorCustom: #38B2A3FF;
$headingColorCustom: $headlineColorCustom;
$bodyLinkColorCustom:#BCC2A5FF;
$sidebarLinkColorCustom: $bodyLinkColorCustom;
$navLinkColorCustom: $headingColorCustom;
$footerTextColorCustom: #2A363BFF;
$borderColorCustom: $footerTextColorCustom;
$buttonTextColorCustom: #2A363BFF;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: $headlineColorCustom;
$buttonHoverBgColorCustom: $bodyLinkColorCustom;